.contentDiv{
  font-size: 1.2em;
  max-height: 70vh;
  overflow-y:auto; 
  /* height: 100%; */
  background-color: #535353
}

#similarArtDiv{
  overflow-y: scroll;
  background-color: #212121;

}

/* .info-col{
  max-height: ;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
} */

table{
  color: white !important;
  text-align: center;
}

tr:not(.headerRow):hover{
  background-color: #b3b3b3;
}

.th{
  padding: 0.5rem !important;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #1DB954;;
}

.title a{
  color: white;
}

.title a:hover{
  color:#1db954;
  text-decoration: none;
}