table{
  color: white !important;
  text-align: center;
}

tr:not(.headerRow):hover{
  background-color: #b3b3b3;
}

.th{
  padding: 0.5rem !important;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #1DB954;;
}

#artInfoContainer{
  display: flex;
  flex-direction: column;
  height: 80vh;
  font-size: 1.2em;
}

.artInfo{
  background-color:#535353;
}

.similarArt{
  background-color:#535353;
  overflow-y: auto;
}

.similarArt::-webkit-scrollbar {
  width: 0.4em;
}

.similarArt::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.4em rgba(0,0,0,0.3);
}

.similarArt::-webkit-scrollbar-thumb {
background-color: darkgrey;
border-radius: 2px;
}