html, body{
  height: 100%;
  width: 100%;
  background-color: #121212;
}

.pageContainer {
    display: grid;
    grid-template-columns: 20% 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "sidebarContainer timelineContainer timelineContainer timelineContainer"
      "sidebarContainer statsContainer statsContainer statsContainer"
      "sidebarContainer statsContainer statsContainer statsContainer";
    background-color: #121212;
    color: white;
}

.sidebarContainer {
    grid-area: sidebarContainer;
}

.timelineContainer {
    grid-area: timelineContainer;
    border: white 2px solid;
}

.statsContainer {
    grid-area: statsContainer;
    padding: 2% 0 2% 0;
}