html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #121212;
}

#spinner-div{
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(237, 242, 240, .7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#spinner-obj{
  height: 150px;
  width: 150px;
}

.App{
  z-index: 1;
}

.pageContainer {
    display: grid;
    grid-template-columns: minmax(9rem, 15%) 1fr 1fr 1fr;
    grid-template-rows: minmax(500px, max-content) 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "sidebarContainer timelineContainer timelineContainer timelineContainer"
      "sidebarContainer statsContainer statsContainer statsContainer"
      "sidebarContainer statsContainer statsContainer statsContainer";
    background-color: #121212;
    color: white;
    height: 100%;
    width: 100%;
}

.sidebarContainer {
    grid-area: sidebarContainer;
}

.timelineContainer {
    grid-area: timelineContainer;
}

.statsContainer {
    grid-area: statsContainer;
    padding: 2% 0 2% 0;
}

.contentDiv{
  font-size: 1.2em;
  min-height: 450px;
  height: 80vh;
  overflow-y: auto; 
  background-color:#535353;
}

.contentDiv::-webkit-scrollbar {
  width: 0.4em;
}

.contentDiv::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.4em rgba(0,0,0,0.3);
}

.contentDiv::-webkit-scrollbar-thumb {
background-color: darkgrey;
border-radius: 2px;
}

a{
  color: white !important;
}

a:hover{
  color:#1db954 !important;
  text-decoration: none !important;
}