.col-pad{
  padding: 0.75em;
}

table{
  color: white !important;
  text-align: center;
}

tr:not(.headerRow):hover{
  background-color: #b3b3b3;
}

th{
  padding: 0.5rem !important;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #1DB954;;
}

.musicPlayContainer{
  margin: auto;
  width: 50%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.musicControlContainer{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}
